{
  "trailingComma": "all",
  "singleQuote": false,
  "printWidth": 100,
  "tabWidth": 4,
  "useTabs": false,
	"semi": true,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
