<!DOCTYPE html>
<html>
    <head>
        <title>Configuration</title>
        <script src="<%= workadventure_url %>/iframe_api.js" ></script>
    </head>
    <body class="tw-h-full tw-text-center tw-bg-dark-purple/95 tw-p-10 tw-flex tw-justify-center">
    </body>
</html>
