<!DOCTYPE html>
<head>
    <script src="<%= workadventure_url %>/iframe_api.js" ></script>
    <title>Tutorial Work Adventure</title>
</head>

<body class="tutorial-body">
<div class="tutorial container">
    <!-- FIRST STEP -->
    <div id="step-1">
        <div class="tutorial-direction">

        <!--Tutopi-->
            <div class="companion-area">
                <h2>Tutopi</h2>
                <img src="../../../resources/images/chickchick.gif" alt="companion" class="companion-gif"/>
            </div>

            <!--Desktop-->
            <div class="dialog-area nes-balloon from-left column-display desktop hidden">
            <div class="user-input">
                <a class="skip-btn btn dialog-box nes-btn user-dialog is-error"> I don't need help, thanks !</a>
            </div>
                <p>Move with your arrow keys !</p>
                <img src="../../../resources/images/arrow-keys.svg" alt="your keyboard arrows" class="keyboard-img"/>
            </div>

            <!--Mobile-->
            <div class="dialog-area nes-balloon from-left column-display mobile hidden">
                <div class="close-area">
                    <a class="skip-btn btn dialog-box nes-btn user-dialog is-error">&times;</a>
                </div>
                <p>Tap & hold to move around. Try it!</p>
                <video autoplay loop muted playsinline src="../../../resources/videos/firstConnection/joystick-mobile.mp4" class="video-for-mobile"></video>
            </div>
        </div>
    </div>
    <!-- END FIRST STEP-->
    <!-- SECOND STEP -->
    <div id="step-2" class="hidden">
    <div class="tutorial-direction">
        <div class="tutorial-direction">
            <div class="companion-area">
                <h2>Tutopi</h2>
                <img src="../../../resources/images/chickchick.gif" alt="companion" class="companion-gif"/>
            </div>
             <!--Mobile-->
            <div class="dialog-area nes-balloon from-left column-display mobile hidden">
                <div class="close-area">
                    <a class="skip-btn btn dialog-box nes-btn user-dialog is-error">&times;</a>
                </div>
                <p>Walk closer to others for spontaneous interactions!</p>
                <video autoplay loop muted playsinline src="../../../resources/videos/firstConnection/bubble-zone-slower.mp4" class="video-for-mobile"></video>
                <div class="next-area">
                    <a class="next-btn btn dialog-box nes-btn user-dialog is-primary">Ok !</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END SECOND STEP -->
<!-- THIRD STEP -->
    <div id="step-3" class="hidden">
        <div class="tutorial-direction">
           <div class="companion-area">
               <h2>Tutopi</h2>
               <img src="../../../resources/images/chickchick.gif" alt="companion" class="companion-gif"/>
           </div>
            <!--Mobile-->
           <div class="dialog-area nes-balloon from-left column-display mobile hidden">
               <div class="close-area">
                   <a class="skip-btn btn dialog-box nes-btn user-dialog is-error">&times;</a>
               </div>
               <p>You can turn off/on your camera and microphone!</p>
               <video autoplay loop muted playsinline src="../../../resources/videos/firstConnection/bubble-zone-slower.mp4" class="video-for-mobile"></video> <!--TODO: make video and update-->
               <div class="next-area">
                   <a class="next-btn btn dialog-box nes-btn user-dialog is-primary">Ok !</a>
               </div>
           </div>
        </div>
</div>
<!--END THIRD STEP -->
<!--FOURTH STEP-->
<div id="step-4" class="hidden">
    <div class="tutorial-direction">
       <div class="companion-area">
           <h2>Tutopi</h2>
           <img src="../../../resources/images/chickchick.gif" alt="companion" class="companion-gif"/>
       </div>

       <div class="dialog-area nes-balloon from-left">
           <div class="close-area">
              <a class="skip-btn btn dialog-box nes-btn user-dialog is-error">&times;</a>
           </div>
           <p>Use
           <img src="../../../resources/images/logo-message-pixel.png" alt="the chatbox" class="dialog_img" id="chat-icon"/>
           in the top left corner to send messages.</p>
           <div class="next-area">
              <a class="next-btn btn dialog-box nes-btn user-dialog is-primary">Ok !</a>
          </div>
       </div>
    </div>
</div>
<!-- END FOURTH STEP -->
<!-- FIFTH STEP -->
<div id="step-5" class="hidden">
    <div class="tutorial-direction">
        <div class="companion-area">
            <h2>Tutopi</h2>
            <img src="../../../resources/images/chickchick.gif" alt="companion" class="companion-gif"/>
        </div>
        <div class="dialog-area nes-balloon from-left">
            <div class="close-area">
               <a class="skip-btn btn dialog-box nes-btn user-dialog is-error">&times;</a>
           </div>
            <p>You are now ready to go, adventurer. Enjoy !</p>
            <div class="next-area">
                <a class="next-btn btn dialog-box nes-btn user-dialog is-primary">Ok !</a>
            </div>
        </div>
     </div>
</div>
<!-- END FIFTH STEP -->
</div>
</body>
