<!DOCTYPE html>
<html>
    <head>
        <title>Tutorial</title>
        <script src="<%= workadventure_url %>/iframe_api.js" ></script>
    </head>
    <body class="tw-bg-dark-purple/95">
        Tutu v1 script launcher
    </body>
</html>
