<!DOCTYPE html>
<html>
    <head>
        <title>Tutorial</title>
        <script src="<%= workadventure_url %>/iframe_api.js" ></script>
    </head>
    <body style="background-color: transparent;">
    </body>
</html>
