@import "~@fontsource/press-start-2p/index.css";
@import "~nes.css/css/nes.css";

/*GENERAL STYLING*/

.tutorial-body {
    background-color: transparent;
    z-index: 1;
}

.hidden, .desktop.hidden, .mobile.hidden {
    display: none;
}

.tutorial-direction {
    display: flex;
    flex-direction: column-reverse;

    .hidden {
        display: none;
    }
}

.tutorial-direction-inverted {
    display: flex;
    flex-direction: column;
}

/*COMPANION STYLING*/
.companion-area {
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    h2 {
        font-size: 13px;
        color: #f6f6f6;
        margin-bottom: -18px;
    }

    img {
        width: 32px;
        height: 32px;
    }
}

/*DIALOG STYLING*/
.dialog-area {
    background-color: rgb(255, 255, 255, 0.9);
    color: rgb(33, 37, 41);
    font-size: 13px;
    height: 380px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
        vertical-align: baseline;
        width: 50px;
        height: 50px;
    }

    .video-for-mobile {
        width: 100%;
        display: flex;
        border-radius: 15px;
        margin-bottom: 35px;
    }

    & .mobile {
        flex-direction: column;
    }

    .btn {
        margin: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .close-area {
        display: flex;
        justify-content: flex-end;
        margin-top: -20px;
        margin-right: -27px;
        margin-bottom: 7px;

        .skip-btn {
            width: 32px;
            height: 32px;
            color: #FFF !important;
            display: flex;
            position: fixed;
            top: 7px;
            right: 7px;
            margin-bottom: 20px;
        }
    }

    .next-area {
        display: flex;
        justify-content: center;
        margin: 5px;

        .btn {
            position: fixed;
            bottom: 76px;
        }
    }
}
