name: CI

on:
  pull_request:
    branches:
      - '*'

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'

      - run: npm ci
      - run: npm run lint
      - run: npm test
      - run: npm run build --if-present

      - name: Code Coverage
        run: curl -s https://codecov.io/bash | bash
        env:
          CODECOV_TOKEN: ${{secrets.CODECOV_TOKEN}}
